*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* Header and Navigation */       
nav{
    display: flex;                      /* the navigation all element will set into same line. */
    justify-content: space-between;     /* it will divided and send them in two side. */
    padding: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;             /* Diplay flex will makes all element set into same. */
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: white;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 18px 35px;
}
/* Banner  */
.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin: 30px;
}
.header{
    background: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;

}
/* main section  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}

/* About Section  */
.about{
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px; 
    padding: 130px 150px;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-discription{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/* What I do  */

.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-decription{
    color: #757575;
}

/* Resume content  */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    
}
.resume .description{
    color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}

/* Contact Section  */
.contact{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}

.contact input, textarea{
    margin-bottom: 24px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px; 
}
.contact a{
    text-decoration: none;           /* removing the underline from the link */ 
}

/* Responsive Design */

@media screen and (max-width: 576px) {
    .header{
        background-image: none;
    }
    nav, .banner, .skills-container, 
    .resume-content, .about-info-container, 
    .contact{
        flex-direction: column;
        gap: 20px;
        padding: 10px 20px;
    }
    .banner{
        margin: 0 20px;
    }
    .banner img{
        width: 100%;
    }
    nav ul{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .about .contact{
        padding: 20px;
    }
    .contact input[type="text"], input[type="email"], textarea{
        padding: 0 0 0 5px;

    }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
    .about, .contact{
        padding: 20px;
    }
    .contact{
        flex-direction: column;
    }
    .contact input[type="text"], input[type="email"], textarea{
        padding: 0 0 0 5px;
    }
}
.hide{
    display: none;
}


